/* HEX palette */
:root {
    --color-spring-bud: #F0F0C9; /*pale spring bud*/
    --color-orange-yellow: #F2BB05; /*orange yellow*/
    --color-burnt-orange: #D74E09; /*burnt orange*/
    --color-blood-red: #6E0E0A; /*blood red*/
    --color-oxford-blue: #00072D; /*oxford blue*/
    --color-royal-dark: #001C55; /*royal blue dark1*/
    --color-royal-light: #0A2472; /*royal blue dark2*/
    --color-yale-blue: #124E78; /*yale blue*/
    --color-lulu-blue: #0E6BA8; /*honolulu blue*/
    --color-uran-blue: #A6E1FA; /*uranian blue*/
    --color-dark-cyan: #0F8B8D; /*dark cyan*/
    --color-gun-metal: #143642; /*gunmetal*/
}
/*ALL*/
html {
    position: relative;
    vertical-align: middle;
    height: 80%;
    width: 80%;
}
body {
    padding-top: 150px;
    background-color: var(--color-uran-blue);
    color: var(--color-oxford-blue);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*ALL nav*/
nav {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: fit-content;
}
.navbar {
    background-color: var(--color-oxford-blue);
    color: var(--color-orange-yellow);
    width: 100%;
    height: 100px;
}
.navbar-fixed-top {
    height: 100px;
}
.navbar-header {
    color: var(--color-orange-yellow);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}
.navbar-brand {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}
.navbar-btn {
    color: white;
    background-color: var(--color-dark-cyan);
}
/*end ALL nav*/
.form-group {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    justify-content: center;
    align-items: center;
}

a:visited {
	color: var(--color-orange-yellow);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: var(--color-orange-yellow);
	background-color: transparent;
	text-decoration: none;
}
a:active {
	color: var(--color-orange-yellow);
	background-color: transparent;
	text-decoration: none;
}
.container-fluid {
    position: relative;
}
.row {
    position: inherit;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}  
fieldset {
    
}
legend {

}
h5 {

}
h3 {

}
label {

}
.btn {
    color: white;
    background-color: var(--color-dark-cyan);
    font-family: Arial, Helvetica, sans-serif;
}

.list-group-item {
    background-color: var(--color-royal-light);
    color: var(--color-orange-yellow);
}
li {
    color: var(--color-gun-metal);
    float: left;
    padding: 10px;
    margin: 10px;
}   
/*index.php*/
#searchForm {

}
#searchMovieName {
    background-color: var(--color-spring-bud);
}
#searchBtn {

}
#searchTitleResults {
    border: solid 5px var(--color-royal-light);
    background-color: var(--color-orange-yellow);
}
#genreForm {
 
}
#genreSelect {
    background-color: var(--color-spring-bud);
}
#genreBtn {

}
#searchGenreResults {
    border: solid 5px var(--color-royal-light);
    background-color: var(--color-orange-yellow);
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
/*alpha.php*/
#sendToEdit {

}
#alphaList {

}
/*insert.php*/
#newMovieForm {

}
#titleName0 {
    background-color: var(--color-spring-bud);
    float: left;
}
#titleInfo0 {
    background-color: var(--color-spring-bud);
    float: left;
}
#genreName0 {
    float: left;
    background-color: var(--color-spring-bud);
}

#addBtn0 {
    float: left;
}
#resetBtn0 {
    float: left;
}
#newMovieResults {

}
/*edit.php*/ 
#editMovieForm {

}
#titleName1 {
    background-color: var(--color-spring-bud);
    float: left;
}
#titleInfo1 {
    background-color: var(--color-spring-bud);
    float: left;
}
#genreName1 {
    float: left;
    background-color: var(--color-spring-bud);
}
#editBtn1 {
    float: left;
}
#resetBtn1 {
    float: left;
}

/*shared by edit.php and insert.php*/
.changeMovieForm {
    align-items: center;
}

/*housekeeping for various screen sizes*/
/* Extra small devices (phones, 600px and down) */
     @media only screen and (max-width: 600px) {
        [class*="col-"] {width: 100%;}
    }   
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      /* For tablets: */
        .col-xs-1 {width: 8.33%;}
        .col-xs-2 {width: 16.66%;}
        .col-xs-3 {width: 25%;}
        .col-xs-4 {width: 33.33%;}
        .col-xs-5 {width: 41.66%;}
        .col-xs-6 {width: 50%;}
        .col-xs-7 {width: 58.33%;}
        .col-xs-8 {width: 66.66%;}
        .col-xs-9 {width: 75%;}
        .col-xs-10 {width: 83.33%;}
        .col-xs-11 {width: 91.66%;}
        .col-xs-12 {width: 100%;} 
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
     /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    } 
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    [class*="col-"] {
        float: middle;
        padding: 15px;
    } 
    