/* HEX palette */
:root {
    --color-spring-bud: #F0F0C9; /*pale spring bud*/
    --color-orange-yellow: #F2BB05; /*orange yellow*/
    --color-burnt-orange: #D74E09; /*burnt orange*/
    --color-blood-red: #6E0E0A; /*blood red*/
    --color-oxford-blue: #00072D; /*oxford blue*/
    --color-royal-dark: #001C55; /*royal blue dark1*/
    --color-royal-light: #0A2472; /*royal blue dark2*/
    --color-yale-blue: #124E78; /*yale blue*/
    --color-lulu-blue: #0E6BA8; /*honolulu blue*/
    --color-uran-blue: #A6E1FA; /*uranian blue*/
    --color-dark-cyan: #0F8B8D; /*dark cyan*/
    --color-gun-metal: #143642; /*gunmetal*/
}
/*index.php*/
html {
	position: relative;
    height: 80%;
    width: 80%;
}
body {
    padding-top: 150px;
    background-color: var(--color-uran-blue);
    color: var(--color-oxford-blue);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    justify-content: center;
    align-items: center;
}
nav {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar {
    background-color: var(--color-oxford-blue);
    color: var(--color-orange-yellow);
    width: 100%;
    height: fit-content;
}
.navbar-fixed-top {

}
.navbar-header {
    color: var(--color-orange-yellow);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar-brand {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar-btn {
    color: white;
    background-color: var(--color-dark-cyan);
}
.form-group {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    justify-content: center;
    align-items: center;
}

a:visited {
	color: var(--color-orange-yellow);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: var(--color-orange-yellow);
	background-color: transparent;
	text-decoration: none;
}
a:active {
	color: var(--color-orange-yellow);
	background-color: transparent;
	text-decoration: none;
}
.container-fluid {
    position: relative;
}
.row {
    position: aboslute;
    border: 10px solid var(--color-royal-dark);
    margin: 20px;
}  
fieldset {
    
}
legend {

}
.sr-only {
    
}
h5 {

}
label {

}
.col-3 {

}
.col-6 {

}
.col-9 {

}
#searchForm {

}
#searchMovieName {
    background-color: var(--color-spring-bud);
}
#searchBtn {

}
#searchTitleError {

}
#genreForm {
 
}
#genreSelect {
    background-color: var(--color-spring-bud);
}
#genreBtn {

}
.btns {
    color: white;
    background-color: var(--color-dark-cyan);
    font-family: Arial, Helvetica, sans-serif;
}
#showNewBtn {
float: left;
}
#showAlpha {
float: right;
}
/*alpha.php*/
.alphaIndex {

}
#alpha0 {

}
#alpha1 {

}
#alpha2 {

}
li {
    color: var(--color-gun-metal);
    float: left;
    padding: 10px;
    margin: 10px;
}   
#alphaList {

}
/*insert.php*/
#newMovieForm {

}
#titleName0 {
    background-color: var(--color-spring-bud);
    float: left;
}
#titleNameError0 {
    float: left;
}
#titleInfo0 {
    background-color: var(--color-spring-bud);
    float: left;
}
#titleInfoError0 {
    float: left;
}
#genreName0 {
    float: left;
    background-color: var(--color-spring-bud);
}
option {
    align-self: center;
} /*shared with edit.php*/
#addBtn0 {
    float: left;
}
#resetBtn0 {
    float: left;
}
/*edit.php*/    
#editMovieForm {

}
#titleName1 {
    background-color: var(--color-spring-bud);
    float: left;
}
#titleNameError1 {
    float: left;
}
#titleInfo1 {
    background-color: var(--color-spring-bud);
    float: left;
}
#titleInfoError1 {
    float: left;
}
#genreName1 {
    float: left;
    background-color: var(--color-spring-bud);
}
#editBtn1 {
    float: left;
}
#resetBtn1 {
    float: left;
}
button {
    color: white;
    background-color: var(--color-dark-cyan);
}
/*shared by edit.php and insert.php*/
.changeMovieForm {
    align-items: center;
}
.errorMsg {
    background-color: #f99;
    border: #900 1px solid;
}
/*search.php*/
#searchResults {

}
/*genre.php*/
#genreResults {
}
/*housekeeping for various screen sizes*/
/* Extra small devices (phones, 600px and down) */
    /* @media only screen and (max-width: 600px) {
        [class*="col-"] {width: 100%;}
    }   
    /* Small devices (portrait tablets and large phones, 600px and up) */
    /*@media only screen and (min-width: 600px) {
      /* For tablets: */
        /*.col-s-1 {width: 8.33%;}
          .col-s-2 {width: 16.66%;}
          .col-s-3 {width: 25%;}
          .col-s-4 {width: 33.33%;}
          .col-s-5 {width: 41.66%;}
          .col-s-6 {width: 50%;}
          .col-s-7 {width: 58.33%;}
          .col-s-8 {width: 66.66%;}
          .col-s-9 {width: 75%;}
          .col-s-10 {width: 83.33%;}
          .col-s-11 {width: 91.66%;}
          .col-s-12 {width: 100%;} 
    }
    /* Medium devices (landscape tablets, 768px and up) */
    /*@media only screen and (min-width: 768px) {
     /* For desktop: */
        /*.col-1 {width: 8.33%;}
          .col-2 {width: 16.66%;}
          .col-3 {width: 25%;}
          .col-4 {width: 33.33%;}
          .col-5 {width: 41.66%;}
          .col-6 {width: 50%;}
          .col-7 {width: 58.33%;}
          .col-8 {width: 66.66%;}
          .col-9 {width: 75%;}
          .col-10 {width: 83.33%;}
          .col-11 {width: 91.66%;}
          .col-12 {width: 100%;}
    
    } 
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    [class*="col-"] {
        float: middle;
        padding: 15px;
    } */
    